# Otimização da memória do Dataframe Pandas
Este notebook apresenta alguns problemas com dados relativamente grandes, e maneiras de contornar estes desafios.

As abordagens descritas não tornam Pandas adequado para Big Data, mas exibe uma forma de manipular dados que da maneira convencional não é possível.

In [1]:
import pandas as pd

### Memory Error na leitura dos dados

In [11]:
data = pd.read_csv('resources/MG2017.txt', encoding='latin-1', sep=';')
data.head()

MemoryError:

### Utilização do parâmetro *low_memory*

In [12]:
data = pd.read_csv('resources/MG2017.txt', encoding='latin-1', sep=';', low_memory=False)
data.head()

ParserError: Error tokenizing data. C error: out of memory

## Leitura com *chunksize*

In [16]:
chunks = []
for chunk in pd.read_csv('resources/MG2017.txt', encoding='latin-1', sep=';', low_memory=False, chunksize=1000):
    chunks.append(chunk)

In [54]:
data = pd.concat(chunks)
print("Shape:", data.shape)
data.head()

Shape: (6945362, 60)

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,...,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,Ano Chegada Brasil,Ind Trab Parcial,Ind Trab Intermitente
0,{ñ class},{ñ class},{ñ class},99,99,99,12,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
1,{ñ class},{ñ class},{ñ class},99,99,99,12,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000001164,72",0,0,0
2,{ñ class},{ñ class},{ñ class},99,99,99,31,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
3,{ñ class},{ñ class},{ñ class},99,99,99,31,716305,45307,50300,...,"000002119,28","000002119,28","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
4,{ñ class},{ñ class},{ñ class},99,99,99,11,715315,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0

In [51]:
objects = data.dtypes[data.dtypes == 'object'].index
objects

Index(['Bairros SP', 'Bairros Fortaleza', 'Bairros RJ', 'CBO Ocupação 2002',
       'Distritos SP', 'Vl Remun Dezembro Nom', 'Vl Remun Dezembro (SM)',
       'Vl Remun Média Nom', 'Vl Remun Média (SM)', 'Tempo Emprego',
       'Tipo Estab.1', 'Vl Rem Janeiro CC', 'Vl Rem Fevereiro CC',
       'Vl Rem Março CC', 'Vl Rem Abril CC', 'Vl Rem Maio CC',
       'Vl Rem Junho CC', 'Vl Rem Julho CC', 'Vl Rem Agosto CC',
       'Vl Rem Setembro CC', 'Vl Rem Outubro CC', 'Vl Rem Novembro CC'],
      dtype='object')

### Apesar de carregar os dados, não é possível aplicar algumas funções.
O exemplo foi com um *apply*, que percorre cada coluna, mas também pode acontecer com outras operações.

In [52]:
data.loc[:, objects].apply(lambda x: x.replace(',','.'))

MemoryError:

### Leitura com informação do carácter para representação da casa decimal. Parâmetro *decimal*

In [44]:
for aux in pd.read_csv('resources/MG2017.txt', encoding='latin-1', sep=';', low_memory=False, chunksize=1000, decimal=','):
    aux
    break

In [111]:
aux.dtypes

Bairros SP                  object
Bairros Fortaleza           object
Bairros RJ                  object
Causa Afastamento 1          int64
Causa Afastamento 2          int64
Causa Afastamento 3          int64
Motivo Desligamento          int64
CBO Ocupação 2002           object
CNAE 2.0 Classe              int64
CNAE 95 Classe               int64
Distritos SP                object
Vínculo Ativo 31/12          int64
Faixa Etária                 int64
Faixa Hora Contrat           int64
Faixa Remun Dezem (SM)       int64
Faixa Remun Média (SM)       int64
Faixa Tempo Emprego          int64
Escolaridade após 2005       int64
Qtd Hora Contr               int64
Idade                        int64
Ind CEI Vinculado            int64
Ind Simples                  int64
Mês Admissão                 int64
Mês Desligamento             int64
Mun Trab                     int64
Município                    int64
Nacionalidade                int64
Natureza Jurídica            int64
Ind Portador Defic           int64
Qtd Dias Afastamento         int64
Raça Cor                     int64
Regiões Adm DF               int64
Vl Remun Dezembro Nom      float64
Vl Remun Dezembro (SM)     float64
Vl Remun Média Nom         float64
Vl Remun Média (SM)        float64
CNAE 2.0 Subclasse           int64
Sexo Trabalhador             int64
Tamanho Estabelecimento      int64
Tempo Emprego              float64
Tipo Admissão                int64
Tipo Estab                   int64
Tipo Estab.1                object
Tipo Defic                   int64
Tipo Vínculo                 int64
IBGE Subsetor                int64
Vl Rem Janeiro CC          float64
Vl Rem Fevereiro CC        float64
Vl Rem Março CC            float64
Vl Rem Abril CC            float64
Vl Rem Maio CC             float64
Vl Rem Junho CC            float64
Vl Rem Julho CC            float64
Vl Rem Agosto CC           float64
Vl Rem Setembro CC         float64
Vl Rem Outubro CC          float64
Vl Rem Novembro CC         float64
Ano Chegada Brasil           int64
Ind Trab Parcial             int64
Ind Trab Intermitente        int64
dtype: object

# Ajustando tipos durante a leitura

## Leitura de uma amostra

In [179]:
sample_1 = pd.read_csv('resources/MG2017.txt', encoding='latin-1', sep=';', low_memory=False, nrows=1000)
sample_1

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,...,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,Ano Chegada Brasil,Ind Trab Parcial,Ind Trab Intermitente
0,{ñ class},{ñ class},{ñ class},99,99,99,12,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
1,{ñ class},{ñ class},{ñ class},99,99,99,12,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000001164,72",0,0,0
2,{ñ class},{ñ class},{ñ class},99,99,99,31,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
3,{ñ class},{ñ class},{ñ class},99,99,99,31,716305,45307,50300,...,"000002119,28","000002119,28","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
4,{ñ class},{ñ class},{ñ class},99,99,99,11,715315,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
5,{ñ class},{ñ class},{ñ class},99,99,99,11,715525,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
6,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
7,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
8,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
9,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
10,{ñ class},{ñ class},{ñ class},99,99,99,31,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000001094,64","000000000,00",0,0,0
11,{ñ class},{ñ class},{ñ class},99,99,99,11,831105,17311,21318,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
12,{ñ class},{ñ class},{ñ class},99,99,99,11,715545,41204,45217,...,"000001763,58","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
13,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
14,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
15,{ñ class},{ñ class},{ñ class},99,99,99,11,717010,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
16,{ñ class},{ñ class},{ñ class},99,99,99,11,715210,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
17,{ñ class},{ñ class},{ñ class},99,99,99,11,715210,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
18,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,"000001390,40","000000557,13","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
19,{ñ class},{ñ class},{ñ class},99,99,99,31,715545,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
20,{ñ class},{ñ class},{ñ class},99,99,99,11,715545,41204,45217,...,"000000914,55","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
21,{ñ class},{ñ class},{ñ class},99,99,99,11,715210,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
22,{ñ class},{ñ class},{ñ class},99,99,99,11,782105,8100,14109,...,"000001478,10","000001478,10","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
23,{ñ class},{ñ class},{ñ class},99,99,99,11,715135,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
24,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,"000001194,53","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
25,{ñ class},{ñ class},{ñ class},10,99,99,21,621005,55108,55131,...,"000000000,00","000000000,00","000000000,00","000001300,95","000001234,71","000000993,04","000001116,46",0,0,0
26,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,16102,20109,...,"000001313,33","000000009,85","000000009,85","000000009,85","000000009,85","000000009,85","000000009,85",0,0,0
27,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,"000001123,50","000001123,50","000001123,50","000001123,50","000001123,50","000000000,00","000000000,00",0,0,0
28,{ñ class},{ñ class},{ñ class},99,99,99,11,517420,42120,45233,...,"000001180,92","000001184,33","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
29,{ñ class},{ñ class},{ñ class},40,40,40,11,514215,49302,60267,...,"000000000,00","000001043,07","000001393,10","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,{ñ class},{ñ class},{ñ class},99,99,99,31,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
971,{ñ class},{ñ class},{ñ class},99,99,99,11,715315,41204,45217,...,"000005341,32","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
972,{ñ class},{ñ class},{ñ class},99,99,99,31,715315,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000001723,66",0,0,0
973,{ñ class},{ñ class},{ñ class},99,99,99,11,715405,41204,45217,...,"000001686,38","000001943,52","000001936,81","000001679,25","000001626,05","000001650,49","000000481,97",0,0,0
974,{ñ class},{ñ class},{ñ class},99,99,99,11,715545,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
975,{ñ class},{ñ class},{ñ class},99,99,99,31,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
976,{ñ class},{ñ class},{ñ class},99,99,99,11,715545,41204,45217,...,"000000285,15","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
977,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,"000001012,72","000000931,73","000001048,27","000000958,75","000001019,97","000001057,27","000002182,20",0,0,0
978,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,"000000851,12","000001909,50","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
979,{ñ class},{ñ class},{ñ class},40,99,99,11,715210,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
980,{ñ class},{ñ class},{ñ class},99,99,99,11,715545,41204,45217,...,"000001459,48","000001525,21","000001189,17","000000502,38","000000000,00","000000000,00","000000000,00",0,0,0
981,{ñ class},{ñ class},{ñ class},99,99,99,12,717020,84116,75116,...,"000000009,37","000000009,37","000000009,37","000000009,37","000000009,37","000000009,37","000000009,37",0,0,0
982,{ñ class},{ñ class},{ñ class},99,99,99,21,632125,2101,2127,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
983,{ñ class},{ñ class},{ñ class},40,99,99,11,717020,41107,70106,...,"000001185,38","000001142,17","000001146,96","000001195,45","000001175,78","000001170,97","000001065,33",0,0,0
984,{ñ class},{ñ class},{ñ class},99,99,99,11,771105,31012,36110,...,"000001720,20","000000017,73","000002147,20","000001601,60","000000015,84","000000000,00","000000000,00",0,0,0
985,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
986,{ñ class},{ñ class},{ñ class},40,99,99,11,717020,41204,45217,...,"000000720,46","000001034,02","000001030,02","000001033,98","000000000,00","000000000,00","000000000,00",0,0,0
987,{ñ class},{ñ class},{ñ class},99,99,99,11,514320,84116,75116,...,"000000009,37","000000009,37","000000009,37","000000009,37","000000009,37","000000009,37","000000009,37",0,0,0
988,{ñ class},{ñ class},{ñ class},99,99,99,11,514325,47318,50504,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
989,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,42111,45225,...,"000002077,80","000000791,57","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
990,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,42111,45225,...,"000002231,44","000001967,22","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
991,{ñ class},{ñ class},{ñ class},99,99,99,11,519935,49213,60232,...,"000001042,63","000001039,22","000001030,44","000001042,63","000001033,84","000000000,00","000000000,00",0,0,0
992,{ñ class},{ñ class},{ñ class},99,99,99,11,848520,10112,15113,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
993,{ñ class},{ñ class},{ñ class},40,99,99,11,784205,10996,15890,...,"000001071,59","000001141,40","000001483,82","000001141,35","000000000,00","000000000,00","000000000,00",0,0,0
994,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,"000001040,31","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
995,{ñ class},{ñ class},{ñ class},99,99,99,21,715210,43304,45500,...,"000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
996,{ñ class},{ñ class},{ñ class},99,99,99,12,717020,84116,75116,...,"000000000,00","000000000,00","000000978,87","000000978,87","000000978,87","000000978,87","000000978,87",0,0,0
997,{ñ class},{ñ class},{ñ class},40,99,99,12,717020,84116,75116,...,"000000000,00","000000717,84","000000000,00","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
998,{ñ class},{ñ class},{ñ class},99,99,99,11,514120,81125,70408,...,"000001231,20","000001231,20","000001231,20","000000000,00","000000000,00","000000000,00","000000000,00",0,0,0
999,{ñ class},{ñ class},{ñ class},99,99,99,11,784205,10694,15598,...,"000001286,43","000001359,83","000001387,18","000000943,56","000000000,00","000000000,00","000000000,00",0,0,0

### Ajuste no separador das casas decimais (parâmetro do método read_csv)

In [180]:
sample_2 = pd.read_csv('resources/MG2017.txt', encoding='latin-1', sep=';', low_memory=False, nrows=1000, decimal=',')
sample_2

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,...,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,Ano Chegada Brasil,Ind Trab Parcial,Ind Trab Intermitente
0,{ñ class},{ñ class},{ñ class},99,99,99,12,717020,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
1,{ñ class},{ñ class},{ñ class},99,99,99,12,717020,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,1164.72,0,0,0
2,{ñ class},{ñ class},{ñ class},99,99,99,31,717020,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
3,{ñ class},{ñ class},{ñ class},99,99,99,31,716305,45307,50300,...,2119.28,2119.28,0.00,0.00,0.00,0.00,0.00,0,0,0
4,{ñ class},{ñ class},{ñ class},99,99,99,11,715315,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
5,{ñ class},{ñ class},{ñ class},99,99,99,11,715525,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
6,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
7,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
8,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
9,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
10,{ñ class},{ñ class},{ñ class},99,99,99,31,717020,41204,45217,...,0.00,0.00,0.00,0.00,0.00,1094.64,0.00,0,0,0
11,{ñ class},{ñ class},{ñ class},99,99,99,11,831105,17311,21318,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
12,{ñ class},{ñ class},{ñ class},99,99,99,11,715545,41204,45217,...,1763.58,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
13,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
14,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
15,{ñ class},{ñ class},{ñ class},99,99,99,11,717010,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
16,{ñ class},{ñ class},{ñ class},99,99,99,11,715210,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
17,{ñ class},{ñ class},{ñ class},99,99,99,11,715210,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
18,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,1390.40,557.13,0.00,0.00,0.00,0.00,0.00,0,0,0
19,{ñ class},{ñ class},{ñ class},99,99,99,31,715545,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
20,{ñ class},{ñ class},{ñ class},99,99,99,11,715545,41204,45217,...,914.55,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
21,{ñ class},{ñ class},{ñ class},99,99,99,11,715210,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
22,{ñ class},{ñ class},{ñ class},99,99,99,11,782105,8100,14109,...,1478.10,1478.10,0.00,0.00,0.00,0.00,0.00,0,0,0
23,{ñ class},{ñ class},{ñ class},99,99,99,11,715135,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
24,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,1194.53,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
25,{ñ class},{ñ class},{ñ class},10,99,99,21,621005,55108,55131,...,0.00,0.00,0.00,1300.95,1234.71,993.04,1116.46,0,0,0
26,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,16102,20109,...,1313.33,9.85,9.85,9.85,9.85,9.85,9.85,0,0,0
27,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,1123.50,1123.50,1123.50,1123.50,1123.50,0.00,0.00,0,0,0
28,{ñ class},{ñ class},{ñ class},99,99,99,11,517420,42120,45233,...,1180.92,1184.33,0.00,0.00,0.00,0.00,0.00,0,0,0
29,{ñ class},{ñ class},{ñ class},40,40,40,11,514215,49302,60267,...,0.00,1043.07,1393.10,0.00,0.00,0.00,0.00,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,{ñ class},{ñ class},{ñ class},99,99,99,31,717020,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
971,{ñ class},{ñ class},{ñ class},99,99,99,11,715315,41204,45217,...,5341.32,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
972,{ñ class},{ñ class},{ñ class},99,99,99,31,715315,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,1723.66,0,0,0
973,{ñ class},{ñ class},{ñ class},99,99,99,11,715405,41204,45217,...,1686.38,1943.52,1936.81,1679.25,1626.05,1650.49,481.97,0,0,0
974,{ñ class},{ñ class},{ñ class},99,99,99,11,715545,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
975,{ñ class},{ñ class},{ñ class},99,99,99,31,717020,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
976,{ñ class},{ñ class},{ñ class},99,99,99,11,715545,41204,45217,...,285.15,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
977,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,1012.72,931.73,1048.27,958.75,1019.97,1057.27,2182.20,0,0,0
978,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,851.12,1909.50,0.00,0.00,0.00,0.00,0.00,0,0,0
979,{ñ class},{ñ class},{ñ class},40,99,99,11,715210,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
980,{ñ class},{ñ class},{ñ class},99,99,99,11,715545,41204,45217,...,1459.48,1525.21,1189.17,502.38,0.00,0.00,0.00,0,0,0
981,{ñ class},{ñ class},{ñ class},99,99,99,12,717020,84116,75116,...,9.37,9.37,9.37,9.37,9.37,9.37,9.37,0,0,0
982,{ñ class},{ñ class},{ñ class},99,99,99,21,632125,2101,2127,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
983,{ñ class},{ñ class},{ñ class},40,99,99,11,717020,41107,70106,...,1185.38,1142.17,1146.96,1195.45,1175.78,1170.97,1065.33,0,0,0
984,{ñ class},{ñ class},{ñ class},99,99,99,11,771105,31012,36110,...,1720.20,17.73,2147.20,1601.60,15.84,0.00,0.00,0,0,0
985,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
986,{ñ class},{ñ class},{ñ class},40,99,99,11,717020,41204,45217,...,720.46,1034.02,1030.02,1033.98,0.00,0.00,0.00,0,0,0
987,{ñ class},{ñ class},{ñ class},99,99,99,11,514320,84116,75116,...,9.37,9.37,9.37,9.37,9.37,9.37,9.37,0,0,0
988,{ñ class},{ñ class},{ñ class},99,99,99,11,514325,47318,50504,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
989,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,42111,45225,...,2077.80,791.57,0.00,0.00,0.00,0.00,0.00,0,0,0
990,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,42111,45225,...,2231.44,1967.22,0.00,0.00,0.00,0.00,0.00,0,0,0
991,{ñ class},{ñ class},{ñ class},99,99,99,11,519935,49213,60232,...,1042.63,1039.22,1030.44,1042.63,1033.84,0.00,0.00,0,0,0
992,{ñ class},{ñ class},{ñ class},99,99,99,11,848520,10112,15113,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
993,{ñ class},{ñ class},{ñ class},40,99,99,11,784205,10996,15890,...,1071.59,1141.40,1483.82,1141.35,0.00,0.00,0.00,0,0,0
994,{ñ class},{ñ class},{ñ class},99,99,99,11,717020,41204,45217,...,1040.31,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
995,{ñ class},{ñ class},{ñ class},99,99,99,21,715210,43304,45500,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
996,{ñ class},{ñ class},{ñ class},99,99,99,12,717020,84116,75116,...,0.00,0.00,978.87,978.87,978.87,978.87,978.87,0,0,0
997,{ñ class},{ñ class},{ñ class},40,99,99,12,717020,84116,75116,...,0.00,717.84,0.00,0.00,0.00,0.00,0.00,0,0,0
998,{ñ class},{ñ class},{ñ class},99,99,99,11,514120,81125,70408,...,1231.20,1231.20,1231.20,0.00,0.00,0.00,0.00,0,0,0
999,{ñ class},{ñ class},{ñ class},99,99,99,11,784205,10694,15598,...,1286.43,1359.83,1387.18,943.56,0.00,0.00,0.00,0,0,0

### Diferença do tamanho na memória após utilizar o separador decimal correto

In [181]:
print(str(round(sample_1.memory_usage(deep=True).sum() / 1024, 2)) + ' KB')
print(str(round(sample_2.memory_usage(deep=True).sum() / 1024)) + ' KB')

1898.52 KB
953.0 KB

### Converter as colunas do tipo 'object' para 'category'

In [182]:
sample_2.dtypes

Bairros SP                  object
Bairros Fortaleza           object
Bairros RJ                  object
Causa Afastamento 1          int64
Causa Afastamento 2          int64
Causa Afastamento 3          int64
Motivo Desligamento          int64
CBO Ocupação 2002           object
CNAE 2.0 Classe              int64
CNAE 95 Classe               int64
Distritos SP                object
Vínculo Ativo 31/12          int64
Faixa Etária                 int64
Faixa Hora Contrat           int64
Faixa Remun Dezem (SM)       int64
Faixa Remun Média (SM)       int64
Faixa Tempo Emprego          int64
Escolaridade após 2005       int64
Qtd Hora Contr               int64
Idade                        int64
Ind CEI Vinculado            int64
Ind Simples                  int64
Mês Admissão                 int64
Mês Desligamento             int64
Mun Trab                     int64
Município                    int64
Nacionalidade                int64
Natureza Jurídica            int64
Ind Portador Defic           int64
Qtd Dias Afastamento         int64
Raça Cor                     int64
Regiões Adm DF               int64
Vl Remun Dezembro Nom      float64
Vl Remun Dezembro (SM)     float64
Vl Remun Média Nom         float64
Vl Remun Média (SM)        float64
CNAE 2.0 Subclasse           int64
Sexo Trabalhador             int64
Tamanho Estabelecimento      int64
Tempo Emprego              float64
Tipo Admissão                int64
Tipo Estab                   int64
Tipo Estab.1                object
Tipo Defic                   int64
Tipo Vínculo                 int64
IBGE Subsetor                int64
Vl Rem Janeiro CC          float64
Vl Rem Fevereiro CC        float64
Vl Rem Março CC            float64
Vl Rem Abril CC            float64
Vl Rem Maio CC             float64
Vl Rem Junho CC            float64
Vl Rem Julho CC            float64
Vl Rem Agosto CC           float64
Vl Rem Setembro CC         float64
Vl Rem Outubro CC          float64
Vl Rem Novembro CC         float64
Ano Chegada Brasil           int64
Ind Trab Parcial             int64
Ind Trab Intermitente        int64
dtype: object

In [183]:
objects = sample_2.select_dtypes('object').columns
objects

Index(['Bairros SP', 'Bairros Fortaleza', 'Bairros RJ', 'CBO Ocupação 2002',
       'Distritos SP', 'Tipo Estab.1'],
      dtype='object')

In [184]:
sample_2.loc[:, objects].describe()

,Bairros SP,Bairros Fortaleza,Bairros RJ,CBO Ocupação 2002,Distritos SP,Tipo Estab.1
count,1000,1000,1000,1000,1000,1000
unique,1,1,1,126,1,2
top,{ñ class},{ñ class},{ñ class},717020,{ñ class},CNPJ
freq,1000,1000,1000,336,1000,987

In [185]:
print(str(round(sample_2.loc[:, objects].memory_usage(deep=True).sum() / 1024)) + ' KB')
sample_2.loc[:, objects].head()

531.0 KB

,Bairros SP,Bairros Fortaleza,Bairros RJ,CBO Ocupação 2002,Distritos SP,Tipo Estab.1
0,{ñ class},{ñ class},{ñ class},717020,{ñ class},CNPJ
1,{ñ class},{ñ class},{ñ class},717020,{ñ class},CNPJ
2,{ñ class},{ñ class},{ñ class},717020,{ñ class},CNPJ
3,{ñ class},{ñ class},{ñ class},716305,{ñ class},CNPJ
4,{ñ class},{ñ class},{ñ class},715315,{ñ class},CNPJ

In [186]:
sample_2.loc[:, objects] = sample_2.loc[:, objects].apply(lambda x: x.astype('category'))

#### Novo armazenamento

In [187]:
print(str(round(sample_2.loc[:, objects].memory_usage(deep=True).sum() / 1024)) + ' KB')

20.0 KB

### Ajuste nos tipos numéricos

In [188]:
sample_2.describe()

,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CNAE 2.0 Classe,CNAE 95 Classe,Vínculo Ativo 31/12,Faixa Etária,Faixa Hora Contrat,Faixa Remun Dezem (SM),...,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,Ano Chegada Brasil,Ind Trab Parcial,Ind Trab Intermitente
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0,1000.000000,1000.000000,1000.0,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0,1000.0
mean,96.571000,98.705000,98.705000,16.132000,41196.920000,43861.711000,0.0,5.641000,5.927000,0.0,...,597.653280,470.908330,423.589170,359.296390,281.943550,226.525030,160.006420,4.028000,0.0,0.0
std,11.909778,4.163569,4.163569,10.000029,20947.373764,19782.347226,0.0,1.239215,0.334339,0.0,...,1684.605854,767.653241,718.308701,651.160352,599.533553,534.265013,513.177249,90.023738,0.0,0.0
min,10.000000,40.000000,40.000000,10.000000,1113.000000,1112.000000,0.0,3.000000,3.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,99.000000,99.000000,99.000000,11.000000,41204.000000,45217.000000,0.0,5.000000,6.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
50%,99.000000,99.000000,99.000000,11.000000,41204.000000,45217.000000,0.0,6.000000,6.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
75%,99.000000,99.000000,99.000000,21.000000,43120.000000,45411.000000,0.0,7.000000,6.000000,0.0,...,1167.157500,1055.942500,974.167500,682.285000,9.370000,0.000000,0.000000,0.000000,0.0,0.0
max,99.000000,99.000000,99.000000,79.000000,96092.000000,93092.000000,0.0,8.000000,6.000000,0.0,...,47691.370000,5932.200000,4382.960000,4356.720000,4100.100000,3007.660000,5584.800000,2015.000000,0.0,0.0

In [189]:
ints = sample_2.select_dtypes(include=['int64','int32','int16']).columns
sample_2[ints] = sample_2[ints].apply(pd.to_numeric, downcast='integer')

floats = sample_2.select_dtypes(include=['float']).columns
sample_2[floats] = sample_2[floats].apply(pd.to_numeric, downcast='float')

### Armazenamento após transformações

In [190]:
print(str(round(sample_2.memory_usage(deep=True).sum() / 1024)) + ' KB')

137.0 KB

### Redução de 92% do espaço de armanezamento na amostra!
A amostra inicial utilizava 184.55 KB para armazenar os dados e no final ficou com 14 KB.
Vale ressaltar que é necessário um cuidado no cast feito para os valores numéricos, pois a quantidade de bits alocada foi definida de acordo com uma amostra, mas na base geral pode aparecer algum valor maior. Por isso, é importante analisar as grandezas e significado dos dados, o próprio nome da coluna pode ajudar

## Aplicando na leitura da base inteira

In [191]:
types = sample_2.dtypes
# types.columns = ['col_name', 'dtype']
# types['dtype'] = types['dtype'].apply(str)
types = types.apply(str)
types

Bairros SP                 category
Bairros Fortaleza          category
Bairros RJ                 category
Causa Afastamento 1            int8
Causa Afastamento 2            int8
Causa Afastamento 3            int8
Motivo Desligamento            int8
CBO Ocupação 2002          category
CNAE 2.0 Classe               int32
CNAE 95 Classe                int32
Distritos SP               category
Vínculo Ativo 31/12            int8
Faixa Etária                   int8
Faixa Hora Contrat             int8
Faixa Remun Dezem (SM)         int8
Faixa Remun Média (SM)         int8
Faixa Tempo Emprego            int8
Escolaridade após 2005         int8
Qtd Hora Contr                 int8
Idade                          int8
Ind CEI Vinculado              int8
Ind Simples                    int8
Mês Admissão                   int8
Mês Desligamento               int8
Mun Trab                      int32
Município                     int32
Nacionalidade                  int8
Natureza Jurídica             int16
Ind Portador Defic             int8
Qtd Dias Afastamento          int16
Raça Cor                       int8
Regiões Adm DF                 int8
Vl Remun Dezembro Nom       float32
Vl Remun Dezembro (SM)      float32
Vl Remun Média Nom          float32
Vl Remun Média (SM)         float32
CNAE 2.0 Subclasse            int32
Sexo Trabalhador               int8
Tamanho Estabelecimento        int8
Tempo Emprego               float32
Tipo Admissão                  int8
Tipo Estab                     int8
Tipo Estab.1               category
Tipo Defic                     int8
Tipo Vínculo                   int8
IBGE Subsetor                  int8
Vl Rem Janeiro CC           float32
Vl Rem Fevereiro CC         float32
Vl Rem Março CC             float32
Vl Rem Abril CC             float32
Vl Rem Maio CC              float32
Vl Rem Junho CC             float32
Vl Rem Julho CC             float32
Vl Rem Agosto CC            float32
Vl Rem Setembro CC          float32
Vl Rem Outubro CC           float32
Vl Rem Novembro CC          float32
Ano Chegada Brasil            int16
Ind Trab Parcial               int8
Ind Trab Intermitente          int8
dtype: object

In [192]:
dict_types = types.to_dict()
dict_types

{'Bairros SP': 'category',
 'Bairros Fortaleza': 'category',
 'Bairros RJ': 'category',
 'Causa Afastamento 1': 'int8',
 'Causa Afastamento 2': 'int8',
 'Causa Afastamento 3': 'int8',
 'Motivo Desligamento': 'int8',
 'CBO Ocupação 2002': 'category',
 'CNAE 2.0 Classe': 'int32',
 'CNAE 95 Classe': 'int32',
 'Distritos SP': 'category',
 'Vínculo Ativo 31/12': 'int8',
 'Faixa Etária': 'int8',
 'Faixa Hora Contrat': 'int8',
 'Faixa Remun Dezem (SM)': 'int8',
 'Faixa Remun Média (SM)': 'int8',
 'Faixa Tempo Emprego': 'int8',
 'Escolaridade após 2005': 'int8',
 'Qtd Hora Contr': 'int8',
 'Idade': 'int8',
 'Ind CEI Vinculado': 'int8',
 'Ind Simples': 'int8',
 'Mês Admissão': 'int8',
 'Mês Desligamento': 'int8',
 'Mun Trab': 'int32',
 'Município': 'int32',
 'Nacionalidade': 'int8',
 'Natureza Jurídica': 'int16',
 'Ind Portador Defic': 'int8',
 'Qtd Dias Afastamento': 'int16',
 'Raça Cor': 'int8',
 'Regiões Adm DF': 'int8',
 'Vl Remun Dezembro Nom': 'float32',
 'Vl Remun Dezembro (SM)': 'float32',
 'Vl Remun Média Nom': 'float32',
 'Vl Remun Média (SM)': 'float32',
 'CNAE 2.0 Subclasse': 'int32',
 'Sexo Trabalhador': 'int8',
 'Tamanho Estabelecimento': 'int8',
 'Tempo Emprego': 'float32',
 'Tipo Admissão': 'int8',
 'Tipo Estab': 'int8',
 'Tipo Estab.1': 'category',
 'Tipo Defic': 'int8',
 'Tipo Vínculo': 'int8',
 'IBGE Subsetor': 'int8',
 'Vl Rem Janeiro CC': 'float32',
 'Vl Rem Fevereiro CC': 'float32',
 'Vl Rem Março CC': 'float32',
 'Vl Rem Abril CC': 'float32',
 'Vl Rem Maio CC': 'float32',
 'Vl Rem Junho CC': 'float32',
 'Vl Rem Julho CC': 'float32',
 'Vl Rem Agosto CC': 'float32',
 'Vl Rem Setembro CC': 'float32',
 'Vl Rem Outubro CC': 'float32',
 'Vl Rem Novembro CC': 'float32',
 'Ano Chegada Brasil': 'int16',
 'Ind Trab Parcial': 'int8',
 'Ind Trab Intermitente': 'int8'}

In [206]:
data = pd.read_csv('resources/MG2017.txt', encoding='latin-1', sep=';', low_memory=False, decimal=',', dtype=dict_types)
data

ParserError: Error tokenizing data. C error: out of memory

### Combinando a definição dos tipos com leitura em partes (chunks)

In [213]:
chunks = []
for chunk in pd.read_csv('resources/MG2017.txt', encoding='latin-1', sep=';', 
                         low_memory=False, decimal=',', dtype=dict_types, chunksize=1000):
    chunks.append(chunk)

In [214]:
data = pd.concat(chunks)
data.head()

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,...,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,Ano Chegada Brasil,Ind Trab Parcial,Ind Trab Intermitente
0,{ñ class},{ñ class},{ñ class},99,99,99,12,717020,41204,45217,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0,0,0
1,{ñ class},{ñ class},{ñ class},99,99,99,12,717020,41204,45217,...,0.000000,0.000000,0.0,0.0,0.0,0.0,1164.719971,0,0,0
2,{ñ class},{ñ class},{ñ class},99,99,99,31,717020,41204,45217,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0,0,0
3,{ñ class},{ñ class},{ñ class},99,99,99,31,716305,45307,50300,...,2119.280029,2119.280029,0.0,0.0,0.0,0.0,0.000000,0,0,0
4,{ñ class},{ñ class},{ñ class},99,99,99,11,715315,41204,45217,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0,0,0

In [215]:
data.dtypes

Bairros SP                   object
Bairros Fortaleza          category
Bairros RJ                 category
Causa Afastamento 1            int8
Causa Afastamento 2            int8
Causa Afastamento 3            int8
Motivo Desligamento            int8
CBO Ocupação 2002            object
CNAE 2.0 Classe               int32
CNAE 95 Classe                int32
Distritos SP                 object
Vínculo Ativo 31/12            int8
Faixa Etária                   int8
Faixa Hora Contrat             int8
Faixa Remun Dezem (SM)         int8
Faixa Remun Média (SM)         int8
Faixa Tempo Emprego            int8
Escolaridade após 2005         int8
Qtd Hora Contr                 int8
Idade                          int8
Ind CEI Vinculado              int8
Ind Simples                    int8
Mês Admissão                   int8
Mês Desligamento               int8
Mun Trab                      int32
Município                     int32
Nacionalidade                  int8
Natureza Jurídica             int16
Ind Portador Defic             int8
Qtd Dias Afastamento          int16
Raça Cor                       int8
Regiões Adm DF                 int8
Vl Remun Dezembro Nom       float32
Vl Remun Dezembro (SM)      float32
Vl Remun Média Nom          float32
Vl Remun Média (SM)         float32
CNAE 2.0 Subclasse            int32
Sexo Trabalhador               int8
Tamanho Estabelecimento        int8
Tempo Emprego               float32
Tipo Admissão                  int8
Tipo Estab                     int8
Tipo Estab.1                 object
Tipo Defic                     int8
Tipo Vínculo                   int8
IBGE Subsetor                  int8
Vl Rem Janeiro CC           float32
Vl Rem Fevereiro CC         float32
Vl Rem Março CC             float32
Vl Rem Abril CC             float32
Vl Rem Maio CC              float32
Vl Rem Junho CC             float32
Vl Rem Julho CC             float32
Vl Rem Agosto CC            float32
Vl Rem Setembro CC          float32
Vl Rem Outubro CC           float32
Vl Rem Novembro CC          float32
Ano Chegada Brasil            int16
Ind Trab Parcial               int8
Ind Trab Intermitente          int8
dtype: object

In [219]:
print(str(round(data.memory_usage(deep=True).sum() / 1024 ** 3)) + ' GB')

3.0 GB

In [220]:
data.describe()

,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CNAE 2.0 Classe,CNAE 95 Classe,Vínculo Ativo 31/12,Faixa Etária,Faixa Hora Contrat,Faixa Remun Dezem (SM),...,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,Ano Chegada Brasil,Ind Trab Parcial,Ind Trab Intermitente
count,6.945362e+06,6.945362e+06,6.945362e+06,6.945362e+06,6.945362e+06,6.945362e+06,6.945362e+06,6.945362e+06,6.945362e+06,6.945362e+06,...,6.945362e+06,6.945362e+06,6.945362e+06,6.945362e+06,6.945362e+06,6.945362e+06,6.945362e+06,6.945362e+06,6.945362e+06,6.945362e+06
mean,9.413495e+01,9.761218e+01,9.828136e+01,4.876261e+00,5.415334e+04,5.436676e+04,6.782827e-01,5.055528e+00,5.526327e+00,5.392108e+00,...,1.480796e+03,1.473322e+03,1.491822e+03,1.485454e+03,1.474374e+03,1.485686e+03,1.490646e+03,2.305891e+00,2.442781e-03,1.526198e-04
std,1.623455e+01,8.944313e+00,6.482163e+00,8.731245e+00,2.757217e+04,2.434602e+04,4.671352e-01,1.342501e+00,9.071426e-01,1.527376e+01,...,2.719942e+03,2.761568e+03,2.726312e+03,2.712496e+03,2.681582e+03,2.666645e+03,2.739834e+03,6.799417e+01,4.936410e-02,1.235300e-02
min,1.000000e+01,1.000000e+01,1.000000e+01,0.000000e+00,1.113000e+03,1.112000e+03,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,9.900000e+01,9.900000e+01,9.900000e+01,0.000000e+00,4.120400e+04,4.521700e+04,0.000000e+00,4.000000e+00,5.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,9.900000e+01,9.900000e+01,9.900000e+01,0.000000e+00,4.789000e+04,5.271000e+04,1.000000e+00,5.000000e+00,6.000000e+00,3.000000e+00,...,1.047840e+03,1.041230e+03,1.046660e+03,1.048320e+03,1.044720e+03,1.048320e+03,1.044730e+03,0.000000e+00,0.000000e+00,0.000000e+00
75%,9.900000e+01,9.900000e+01,9.900000e+01,1.100000e+01,8.411600e+04,7.511600e+04,1.000000e+00,6.000000e+00,6.000000e+00,5.000000e+00,...,1.830650e+03,1.817180e+03,1.834450e+03,1.831440e+03,1.826250e+03,1.834520e+03,1.841600e+03,0.000000e+00,0.000000e+00,0.000000e+00
max,9.900000e+01,9.900000e+01,9.900000e+01,9.000000e+01,9.900800e+04,9.900700e+04,1.000000e+00,9.900000e+01,6.000000e+00,9.900000e+01,...,1.395458e+05,1.395531e+05,1.395531e+05,1.404496e+05,1.402554e+05,1.399759e+05,1.378341e+05,2.017000e+03,1.000000e+00,1.000000e+00